.home-button {
    color: rgb(255, 255, 255) !important;
    background-color: green !important; 
    font-size: large;
    text-align: center;
}

.fade-transition {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translateZ(0);
}

.fade-transition.entering,
.fade-transition.exiting,
.fade-transition.exited {
    opacity: 0;
    transform: translateY(-10px);
    height: 0;
}
